.bg-smoke-white{
  background-color:#f5f5f5;
}

/* 
 * Css for Sign In form
 *
*/
/* 
.login-form {
  width: 400px;
  margin: 15px auto;
}
.login-form {
  padding: 10px;
}
.login-form h2 {
  margin: 0 0 15px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.login-btn {        
  font-size: 15px;
  font-weight: bold;
}*/
.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: white;/*#f7f7f7;*/
  position: relative;
  top: -11px;
  z-index: 1;
} 
/*.social-btn .btn {
  margin: 10px 0;
  font-size: 18px;
  text-align: left; 
  line-height: 24px;       
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px  0 5px;
  min-width: 15px;
}
.input-group-addon .fa{
  font-size: 18px;
} */
/* 
* End of sign in form css
*
 */


.search_icon{
  height: 40px;
  width: 40px;
  /* float: right; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 6px;
  padding-left: 10px;
  
  border-radius: 50%;
  background: whitesmoke;
  color: #5fcf80;
  text-decoration:none;
}

#facebook-register, #facebook-signin{
  background-color: #3b5998;
}
#facebook-register:hover, #facebook-signin:hover{
  background-color: #1877f2;
  color: white;
}
.social-btn i .fa-twitter{
  background-color: #1da1f2;
}
#google-register, #google-signin{
  background-color: #ea4335;
}
#google-register:hover, #google-signin:hover{
  background-color: #ea1200;
  color: white;
}
.social-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 5px;
  border: 2px solid #fff;
  color: white;
}
/* CSS for registration pills-tabs */
/* .nav-pills > .active > li, .nav-item > a, .nav-link > .active > a:hover {
  background-color: #5fcf80;
  color: white;
} */
.nav-pills > li.nav-item > a.nav-link.active{
  background-color: #adf5c2;
  color: black;
}
/* 
.red .active a,
.red .active a:hover {
  background-color: #5fcf80;
  color: white;
} */

/* Hides all pagination contents */
#pagination-content > div{
    display: none;
}
/* #pagination-content { 
  height: 30em; 
} */

.icon-size-30{
  font-size: 30px;
}
/* Overriding bootstrap 4 pagination color */
.pagination > li > a
{
    background-color: white;
    color: #5fcf80;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #adf5c2;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5fcf80 !Important;
    border: solid 1px #5fcf80 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5fcf80 !Important;
    border: solid 1px #5fcf80;
}

/* Contact us email from */
.contact .email-form {
  width: 100%;
  background: #fff;
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br + br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form input, .contact .email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .email-form input:focus, .contact .email-form textarea:focus {
  border-color: #5fcf80;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form button[type="submit"] {
  background: #5fcf80;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form button[type="submit"]:hover {
  background: #3ac162;
}

/* Card tag  */
.card-tag{
  font-size: 14px;
  background: #5fcf80;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
}

/* Css for redsizing images on cards */
.card-img{
    border-radius: 0px;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
}

/* styling for autocomplete dropdown */
.ui-autocomplete{
  /* position: absolute; */
  
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper{
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  /* background-color: #f1f1f1; */
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper:hover{
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

 /* Styling for search bar */

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  width: 90%;
  /* background-color: whitesmoke; */
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: black;
  border: 0;
  outline: 0;
  
  background: none;
  width: 90%;
  border-bottom: 1px solid #5fcf80;
  caret-color:red;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  /* padding: 0 10px; */
  width: 90%;
  caret-color:red;
  transition: width 1s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #2bac52;
}

/* Css for buttons or links on cards that you want to stay positioned on the bottom of the card */
.stay-bottom{
    position:absolute; 
    margin-left:-100px;
    left:50%;
    width:100px;
    bottom:45px;
}

/* css for course outline content that need bulletings */
.course-outline-content {
  list-style: none;
  padding: 0;
}

.course-outline-content li {
  padding-bottom: 10px;
}

.course-outline-content li i {
  font-size: 20px;
  padding-right: 4px;
  color: #5fcf80;
}